:root {
    font-family: 'Inter', -apple-system, sans-serif;
}

body {
    font-family: inherit;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.error-alert {
    position: absolute;
    top: 15%;
    right: 5%;
    background: red;
    color: white;
    padding: 10px;
}